.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  margin: 0 2.625rem;
  width: 50%;
}

.form__container--login {
  margin: auto;
  width: 100%;
}

.form__title {
  font: 600 2.625rem var(--font-mulish);
}

.form__title--login {
  font-size: 1rem;
  text-align: center;
}

.form__description {
  font: 400 .875rem var(--font-mulish);
}

.form__description--login {
  text-align: center;
}

.form__fields-container {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  width: 100%;
}

.form__label {
  display: block;
}

.form__label-text {
  font: 600 .875rem var(--font-mulish);
}

.form__input {
  border: 1px solid var(--color-gray);
  font: 400 .875rem var(--font-mulish);
  padding: .625rem .375rem;
  width: 100%;
}

.form__btn {
  background-color: var(--color-black);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font: 600 .875rem var(--font-mulish);
  padding: .875rem 0;
  text-transform: uppercase;
}