* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 0 1.25rem;
}

.app {
  display: flex;
}

.app form {
  width: 50%;
}

.app form>div {
  display: flex;
  flex-direction: column;
}

#modal {
  display: none;
  position: fixed;
}