* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  align-items: center;
  color: #090B09;
  display: flex;
  font-family: 'Mulish', sans-serif;
  height: 100vh;
  justify-content: center;
}

.app {
  align-items: center;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.125rem;
  max-width: 920px;
  overflow: hidden;
  width: 100%;
}

.app__img {
  object-fit: contain;
  width: 50%;
}

.app__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.form__title {
  font-size: 2.5rem;
  font-weight: 500;
}

.form__p {
  font-size: .875rem;
  font-weight: 400;
}

.app form>div {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
}

.form__span {
  font-size: .875rem;
  font-weight: 700;
}

.form__input {
  background-color: transparent;
  border: 1px solid #CCC;
  color: #555555;
  font: 400 .875rem 'Mulish', sans-serif;
  outline: none;
  padding: .625rem .375rem;
  width: 100%;
}

.form__textarea {
  resize: none;
}

.form__btn {
  background-color: #090B09;
  border: none;
  color: #F5F5F5;
  cursor: pointer;
  font: 600 .875rem 'Mulish', sans-serif;
  padding: .875rem 0;
  text-transform: uppercase;
}

#modal {
  display: none;
  position: fixed;
}